<section class="section">
  <div class="container stack">
    <div class="card stack">
      <h1>New Tournament</h1>
      <%= render "form", tournament: @tournament %>
    </div>
  </div>
</section>
