<section class="section">
  <div class="container stack">
    <h1><%= @tournament.name %> <%= @tournament.format == "round_robin" ? "Fixtures" : "Bracket" %></h1>

    <%= render "bracket_board", rounds: @bracket_rounds %>
  </div>
</section>
